@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import "tailwindcss";

@theme {
  --font-Mogra: "Mogra";
  --font-Sriracha: "Sriracha";
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
